<ion-fab horizontal="end" vertical="top" slot="fixed">
  <ion-fab-button color="success">
    <img src="../../../assets/icon/abhi.jpg" alt="Abhi profile">
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="light">
      <a href="https://www.facebook.com/abhishek.pandey.313371" target="newtab"><ion-icon name="logo-facebook"></ion-icon></a>
    </ion-fab-button>
    <ion-fab-button color="light">
      <a href="https://www.instagram.com/abhi_shake_bro/" target="newtab"><ion-icon name="logo-instagram"></ion-icon></a>
    </ion-fab-button>
    <ion-fab-button color="light">
      <a href="https://www.github.com/AbhiShake1" target="newtab"><ion-icon name="logo-github"></ion-icon></a>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


<ion-tabs>

  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="configs">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Configs</ion-label>
      </ion-tab-button>

        <ion-tab-button tab="downloads">
          <ion-segment-button mode="ios">
            <ion-icon name="code-download"></ion-icon>
          <ion-label>Download</ion-label>
          </ion-segment-button>
      </ion-tab-button>

      <ion-tab-button tab="gallery">
        <ion-icon name="images"></ion-icon>
        <ion-label>Gallery</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

  <ion-segment slot="bottom">
    <ion-tab-button tab="about">
      <ion-chip>
        <ion-icon name="information-circle"></ion-icon>
      <ion-label>About mod</ion-label>
      </ion-chip>
    </ion-tab-button>

    <ion-tab-button tab="tutorials">
      <ion-chip>
        <ion-icon name="logo-youtube"></ion-icon>
      <ion-label>Tutorials</ion-label>
      </ion-chip>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="flame"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="socialize">
      <ion-chip>
        <ion-icon name="people"></ion-icon>
      <ion-label>Socialize</ion-label>
      </ion-chip>
    </ion-tab-button>

    <ion-tab-button tab="extras">
      <ion-chip>
        <ion-icon name="extension-puzzle"></ion-icon>
      <ion-label>Extras</ion-label>
      </ion-chip>
    </ion-tab-button>
  </ion-segment>

</ion-tabs>
